* {
  margin: 0px;
  font-family: Avenir;
}

@font-face {
  font-family: "Avenir";
  src: url(./_GlobalFont/AvenirNextProLT/);
}

/*---Reactive---*/
li:hover {
  -webkit-transform: skew(-70deg);
          transform: skew(-70deg);
}

/*---Global---*/
/*--- Header---*/
.navigation {
  background-color: #323232;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}

.inner img {
  height: 24px;
}

nav {
  width: 320px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #FFFFFF;
  margin-top: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

nav .active {
  border-bottom: 4px solid whitesmoke;
  padding-bottom: 21px;
}

ul li {
  padding-left: 10px;
  width: 100%;
  padding-right: 10px;
}

/*--- Hero---*/
.hero {
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

.hero .background {
  top: 80px;
  height: 670px;
  width: 100%;
  left: 0;
  position: absolute;
  background-color: #323232;
  opacity: .5;
  z-index: 5;
}

.hero h1 {
  width: 670px;
  font-size: 4.063em;
  color: #FFFFFF;
  z-index: 10;
  padding-left: 30px;
}

.bckimg {
  background-image: url(Images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bckimg1 {
  background-image: url(Images/bandplay.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*--- About section---*/
.aboutout {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  margin-top: 48px;
  font-size: 3.125em;
  margin-bottom: 48px;
  padding-left: 30px;
}

.about {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.about h2 {
  margin-top: 48px;
  margin-bottom: 40px;
}

.about h4 {
  margin-bottom: 56px;
}

.about--special {
  margin-bottom: 32px;
}

.about img {
  width: 896px;
  height: 450px;
}

.article-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 48px;
}

.article-block :nth-child(2) {
  padding-left: 40px;
}

/*--- Photo Gallery---*/
.photobackground {
  background-color: #FAFAFA;
  padding-top: 48px;
  padding-bottom: 40px;
}

section.photo {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-grid {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.photo-grid img {
  padding: 0 5px 10px 5px;
  width: 344px;
  height: 193px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

/*--- Footer---*/
footer {
  background-color: #323232;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 48px;
  padding-right: 30px;
}

.getintouchline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

.getintouchline img {
  height: 25px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.block img {
  padding-left: 15px;
}

.square {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.card {
  width: 246px;
  position: relative;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 50px;
}

.copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btm-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1032px;
}

/*--- Table ---*/
.table-box {
  margin-top: 48px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 250px;
  margin-right: 180px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

table {
  width: 100%;
  padding-left: 200px;
  border-spacing: 0px;
}

th, td {
  text-align: left;
}

td {
  padding-bottom: 20px;
  padding-top: 20px;
}

td, th button {
  border-bottom: 1px solid #E1E1E1;
}

tr {
  width: 804px;
}

tr:hover:not(.tr1) {
  background-color: #f5f5f5;
}

.dates {
  font-weight: bold;
}

td button {
  height: 48px;
  width: 160px;
  border-radius: 4px;
  background-color: #323232;
  color: #FAFAFA;
  font-size: .85em;
}

button:hover {
  background-color: #222222;
}

/*--- Responsive ---*/
@media (min-width: 960px) and (max-width: 1199px) {
  .about img {
    width: 720px;
    height: 362px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .about img {
    width: 720px;
    height: 362px;
    margin: 0 0 0 24px;
  }
  .about h2 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .article-block :nth-child(2) {
    padding-left: 10px;
  }
  .article-block :nth-child(1) {
    padding-left: 24px;
  }
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  footer {
    padding-left: 24px;
    padding-right: 24px;
  }
  .about--special {
    padding-left: 24px;
    padding-right: 24px;
  }
  .about h4 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .custom {
    padding-left: 24px;
    padding-right: 24px;
  }
  .getintouchline {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner ul {
    padding: 0 0 0 0;
    margin-left: 0;
    width: 320px;
  }
  .inner img {
    padding-top: 15px;
  }
  nav {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav img {
    height: 24px;
    padding-bottom: 16px;
  }
  .photo-grid img {
    width: 224px;
    height: 126px;
  }
  .about img {
    width: 100%;
    height: 75%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: auto 10% auto 10%;
  }
  .about h2 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero .background {
    top: 119px;
  }
  .article-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-block :nth-child(2) {
    padding-left: 10px;
    padding-top: 15px;
  }
  .article-block :nth-child(1) {
    padding-left: 10px;
  }
  footer {
    padding-left: 30px;
  }
}

@media (max-width: 450px) {
  .about img {
    width: 300px;
    height: auto;
    margin-left: 10px;
  }
  .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner ul {
    padding: 0 0 0 0;
    margin-left: 0;
    width: 320px;
  }
  .inner img {
    padding-top: 15px;
  }
  .photo-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo-grid img {
    width: 290px;
  }
  .article-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-block :nth-child(2) {
    padding-left: 10px;
    padding-top: 15px;
  }
  .article-block :nth-child(1) {
    padding-left: 10px;
  }
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav {
    margin-left: -50px;
  }
  .hero .background {
    top: 119px;
  }
  .logos + img {
    display: none;
  }
  .logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 30px;
  }
  .getintouchline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    padding-left: 10px;
  }
  .block img {
    padding-left: 10px;
    width: 20px;
  }
  .card {
    margin-top: 0px;
  }
  .inner img {
    margin-left: -20px;
  }
  .about h2, .about h4 {
    padding-left: 15px;
    margin-top: 20px;
  }
  .photo-grid {
    margin-top: 30px;
  }
  .about h4 {
    margin-bottom: 35px;
  }
  .aboutout {
    font-size: 1.75em;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -15px;
  }
  .custom {
    padding-left: 20px;
  }
  .hero .background {
    height: 183px;
  }
  .bckimg {
    height: 183px;
    background-size: cover;
  }
  .hero h1 {
    font-size: 2.0em;
    margin-top: -500px;
    width: 70%;
  }
}
/*# sourceMappingURL=stylesheet.css.map */